.body{  
    background: url('../assets/imgs/Appbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}    
ion-menu{
        ion-content{ 
         background: url('../assets/imgs/Appbackground.jpg');
         background-repeat: no-repeat;
         background-size: cover;
} 
}
.sideMenu ion-item{
   background: black;

} 