<!--
  Generated template for the ViewEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar text-center color="calm">
  
      <ion-title >Job Posts
        <span style="float: right; font-size: 14px; padding-top: 1.4%" (click)="presentPopover($event)">
          Category
  
        </span>
      </ion-title>

  
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="body" text-center>
  
    <ion-card *ngFor="let event of categoryList" (click)="eventDetails(event)">
      <!-- <img src="{{event.downloadUrl}}" width="140px" height="170px" /> -->
      <img src="{{event.downloadUrl}}" width="140px" height="170px" *ngIf = "event.downloadUrl != 'none'"/>
      <img src="../../assets/imgs/logo.jpg" width="140px" height="170px" *ngIf = "event.downloadUrl == 'none'"/>
      <ion-card-content>
        <ion-card-title>
          {{event.EventName}}
        </ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Closing Date:
            </ion-col>
            <ion-col>
              {{event.EventDate}}
            </ion-col>
          </ion-row>
         
        </ion-grid>
      </ion-card-content>
    </ion-card>
  
    <!-- <ion-list>
      <ion-item *ngFor = "let event of categoryList" (click)="eventDetails(event)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="{{event?.downloadUrl}}" height="25" width="25">
            </ion-col>
            <ion-col>
              {{event?.EventName}}
            </ion-col>
            <ion-col>{{event?.eventVenue}}</ion-col>
            <ion-col>
              Date: {{event?.EventDate}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> 
    </ion-list> -->
    <ion-fab right bottom (click)="addEvent()">
      <button ion-fab color="danger">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>